/*============================================================================================*/
/*===========================================Header===========================================*/
/*============================================================================================*/

/*======================================Header Container======================================*/
.HeaderContainer
{
    display: flex;
    flex-wrap: nowrap;
    background-color: #7DE57B;
    flex-direction: row;
    align-items: center;
}

/*==========================================Menu Btn==========================================*/
.MenuBtn
{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding-left: 1%;
    padding: 0%;
}

.MenuBtn img
{
    width: 40px;
    height: 40px;
}

/*============================================Logo============================================*/
.Logo
{
    margin-left: 2%;
    padding-right: 35%;
    width: 142.2px;
    height: 60px;
}

/*=======================================Tabs Container=======================================*/
.TabsContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-top: 20px;
    gap: 5%;
    padding-right: 5%;
}

/*==========================================Head Tab==========================================*/
.HeadTab
{

}

/*========================================Account Btn=========================================*/
.AccountBtn
{

}



/*============================================================================================*/
/*==========================================Outside===========================================*/
/*============================================================================================*/

/*======================================Pop Up Container======================================*/
.PopUpContainer
{

}

/*========================================Pop Up Item=========================================*/
.PopUpItem
{

}